body {
    background-image: radial-gradient(rgba(1250, 3, 255, 0.40),
    rgba(132, 34, 255, 0.25)), url(retroBGD.jpg);
    background-size: 300px;   
}
#wrapper {
    
 display: grid;
 grid-template-rows: repeat(12);
 grid-template-columns: repeat(12,1fr);
 background-image: linear-gradient(to bottom, #320073, #510073, #0d1f8e);
 border-radius: 15px;
 border: 20px solid #ffba19 ;
 border-top: 10px solid #ffba19;
 width: 1100px;
 margin: auto;

}

header {
    
    grid-column: span 15 ;
}
h1 {
    font-family: "Teko", sans-serif;
    font-weight: normal;
    font-size: 30px;
    text-shadow: 0px 0px 15px #291d2d;
    background-color: #ffba19;
    margin: 0px;
    color: rgb(255, 255, 255);
    padding: 15px;
    margin-bottom: 0px;
    
}

nav {
      grid-row: 2 ;
    grid-column: span 8;
    
}
nav ul {
    display:block;
    list-style: none;
  margin-top: 15px;
  margin-left: -30px;
  margin-bottom: 0;
   

}
nav li {
    font-family: "Teko", sans-serif;
    font-size: 25px;
    text-align: center;
    display: inline-block;
    margin: 4px;
    width: 160px;
    color: rgb(255, 255, 255);
 }
 nav li a{
    color: rgb(255, 255, 255);box-shadow: 10px 10px 5px #291d2d;
    text-decoration: none;
    border-radius: 50px;
    display: block;
    margin-bottom: 0;
    padding: 10px;
    text-shadow: 0px 0px 15px #291d2d;
    background-color: #ffba19;
    transition: background-color 0.5s, box-shadow 0.5s, color 1.0s, width 0.5s;
 }
 nav li a:hover {
    background-color:rgb(9, 220, 115) ;
     box-shadow: 0px 0px 15px #47ff26; /* x, y, blur, color */
    
}



.rightblock {
  grid-row: 2/12;
    grid-column: 9/15 ;
    text-align: justify;
    border-top-left-radius: 500px!important; 
    border-top-right-radius:500px !important; 
    padding: 10px;
    margin: 15px;
    background-color: #503988;
    border-radius: 10px;
    text-align: justify;
}
.leftblock1 {
 grid-row: 3/4;
    grid-column: 1/9 ;
}
.leftblock2 {
    grid-row: 4/5;
    grid-column: 1/9;
}

.imgborder {
    box-shadow: 0px 0px 10px #120b18; /* x, y, blur, color */
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    

}
.imgborder2 {
    background-color: #ffffff;
    width: 100%;
    margin-top: 0px;
    border-radius: 500px;
    box-shadow: 0px 0px 10px #120b18; /* x, y, blur, color */
    

}

p a {
    color: #ffffff;
    font-size: 100px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
}
footer {
    font-style: italic;
    text-align: center;
    padding: 15px;
    grid-column: span 12;
    color: #ffffff;
    background-color:#ffba19;
}
.feet {
    background-color: #ffba19 !important;
    box-shadow: none !important;
    text-align:center !important;

}

p {
  padding: 10px;
    margin: 15px;
    border-radius: 10px;
    text-align: justify;
    font-family: sans-serif;
    color: #ffffff;
    background-color: #503988;
    box-shadow: 0px 0px 10px #120b18; /* x, y, blur, color */
    text-shadow: 0px 0px 15px #291d2d;
}




